.todo-container{
    width: 50rem;
    margin: 0 auto;
    background-color: rgb(100, 135, 180);
    text-align: center;
    text-decoration: solid;
    font-display: fallback;
    font: 500;
    color: white;
    position: relative;
    font-family: monospace;
}

.todo-container-content{
    width: 50rem;
    text-align: center;
    font-family: monospace;
    font-size: 110%;
}



